html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

p {
  margin: 0;
}

.map {
  width: 49.5%;
  height: 100%;
}

.d-none {
  display: none;
}

#gppId {
  width: 400px;
}

#mapGpp {
  float: left;
}

#mapGpf {
  float: right;
}

#mapsContainer {
  height: 100%;
}

#form {
  margin-bottom: 25px;
  text-align: center;
}

#autocomplete {
  position: absolute;
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8em;
}

#autocomplete p {
  border: solid 1px black;
  border-bottom: 0px;
  border-top-color: #aaa;
  background-color: white;
}

#autocomplete p:first-child {
  border-top-color:black;
}

#autocomplete p:hover {
  background-color: turquoise;
}
