html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

p {
  margin: 0;
}

.map {
  width: 49.5%;
  height: 100%;
}

#gppId {
  width: 400px;
}

#mapGpp {
  float: left;
}

#mapGpf {
  float: right;
}

#mapsContainer {
  height: 100%;
}

#form {
  margin-bottom: 25px;
  text-align: center;
}
